@use "../../../../App.scss" as app;


.content {
    display: flex;
    flex-direction: column;
    gap: app.$vh-20px;

    padding: app.$vh-25px;

    height: 100%;

    border: none;
    border-radius: app.$vh-20px;

    background-color: app.alpha(app.$white-color, 0.01);
    box-shadow: app.$glass-box-shadow;

    .input-container {
        display: flex;
        flex-direction: column;
        gap: app.$vh-5px;

        width: 100%;
        min-width: 0;
        max-width: 100%;

        .label {
            font-size: app.$vh-13px;
            font-weight: 700;
            color: app.$white-color;;
        }

        .input {
            padding: app.$vh-15px 0.7812vw;

            height: 100%;
            width: -webkit-fill-available;

            font-size: app.$vh-15px;
            font-weight: 700;

            resize: none;
            word-wrap: break-word;

            border: none;
            border-radius: app.$vh-14px;

            background-color: app.alpha(app.$white-color, 0.03);
            box-shadow: app.$glass-box-shadow;
        }

        .input-inner {
            border-radius: app.$vh-14px;
            overflow: hidden;
        }

        .dropdown {
            height: 100%;
        }

        &.full {
            height: 100%;
        }
    }

    .group-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr 3fr;
        gap: app.$vh-20px 1.3020vw;
    }

    .interests-cards {
        display: flex;
        flex-direction: column;
        gap: app.$vh-25px;

        .header {
            display: block;

            .title {
                font-size: app.$vh-20px;
                font-weight: 800;
                color: app.$white-color;
            }

            .value {
                font-size: app.$vh-20px;
                font-weight: 700;
                color: app.$orange-500;

                .description {
                    color: app.$dark-second-gray;
                }
            }

        }

        .cards {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1.8229vw;

            .card-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: app.$vh-10px;

                .card {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 9.2592vh;
                    width: 9.2592vh;

                    cursor: pointer;

                    border: none;
                    border-radius: 50%;
                    border: app.$vh-2px solid transparent;

                    background-color: app.alpha(app.$white-color, 0.03);
                    box-shadow: app.$glass-box-shadow;

                    .icon {
                        height: 4.6296vh;
                        width: 4.6296vh;

                        fill: app.$white-color;
                    }
                }

                .name {
                    font-size: app.$vh-14px;
                    font-weight: 700;
                    color: app.$white-color;
                }

                @mixin category-card($class, $color) {
                    &.#{$class} {
                        .card {
                            background-color: app.alpha($color, 0.03);

                            .icon {
                                fill: $color;
                            }
                        }

                            &.selected.#{$class} {
                            .card {
                                box-shadow: none;
                                border: app.$vh-2px solid $color;
                                background-color: app.alpha($color, 0.15);
                            }

                            .name {
                                color: $color;
                            }
                        }
                    }
                }

                @include category-card("fashon", app.$fashon-color);
                @include category-card("sport", app.$sport-color);
                @include category-card("music", app.$music-color);
                @include category-card("trips", app.$trips-color);
                @include category-card("technology", app.$technology-color);
                @include category-card("beauty", app.$beauty-color);
                @include category-card("art", app.$art-color);
                @include category-card("education", app.$education-color);
                @include category-card("food", app.$food-color);
                @include category-card("cars", app.$cars-color);
                @include category-card("estate", app.$estate-color);
                @include category-card("sustainability", app.$sustainability-color);
            }
        }
    }
}
