@use "../../../../App.scss" as app;

.manage-password-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: app.$vh-25px;

    max-width: 27.6041vw;

    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: app.$vh-16px;

        height: 7.4074vh;
        width: 7.4074vh;

        border-radius: 50%;
        box-shadow: app.$glass-box-shadow;

        .icon {
            height: 3.7037vh;

            fill: app.$white-color;
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: app.$vh-8px;

        .title {
            font-size: app.$vh-20px;
            font-weight: 700;
            color: app.$white-color;
        }

        .description {
            display: flex;
            flex-direction: column;

            font-size: app.$vh-16px;
            font-weight: 700;
            color: app.$dark-second-gray;
            text-align: center;
        }
    }
    
    .input-container {
        display: flex;
        flex-direction: column;
        gap: app.$vh-6px;

        margin-top: app.$vh-25px;

        width: 100%;

        .label {
            font-size: app.$vh-13px;
            font-weight: 700;
            color: app.alpha(app.$white-color, 0.8);
        }
    }

    .inputs {
        display: flex;
        flex-direction: column;
        
        width: 100%;
    }

    .action-buttons {
        display: flex;
        align-items: center;
        gap: 0.5208vw;

        margin-top: app.$vh-25px;
        
        width: 100%;

        .action-button {
            padding: app.$vh-15px 0;

            width: 100%;

            font-size: app.$vh-15px;
            font-weight: 700;
            color: app.$dark-second-gray;
            white-space: nowrap;

            border: none;
            border-radius: app.$vh-12px;

            background: app.alpha(#151515, 0.5);
            box-shadow: app.$glass-box-shadow;

            &:hover {
                color: app.$white-color;
                background: app.alpha(#151515, 1);
            }

            &.attention {
                color: app.$red-600 ;
            }
        }

        .spinner {
            width: app.$vh-21px;
            height: app.$vh-21px;
    
            border: app.$vh-3px solid app.alpha(app.$white-color, 0.5);
            border-bottom-color: transparent;
        }
    }
}