@use "../../../App.scss" as app;

.device {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: app.$vh-15px;

    border-radius: app.$vh-18px;
    background: #151515;
    box-shadow: app.$glass-box-shadow;

    .device-information {
        display: flex;
        align-items: center;
        gap: 0.7812vw;

        .icon {
            width: 5.5555vh;
            height: 5.5555vh;

            fill: rgba($color: app.$white-color, $alpha: 0.35)
        }

        .info-container {
            display: flex;
            flex-direction: column;
            gap: app.$vh-5px;

            .info {
                font-size: app.$vh-15px;
                font-weight: 600;
                color: rgba($color: app.$white-color, $alpha: 0.5);

                .value {
                    color: app.$white-color;
                }

                .point {
                    margin: 0 0.5208vw;
                }
            }
        }
    }

    .end-icon--container {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            margin-right: app.$vh-15px;

            height: app.$vh-24px;
            width: app.$vh-24px;

            fill: transparent;
        }
    }

    &:hover {
        .end-icon--container .icon {
            fill: rgba($color: app.$white-color, $alpha: 0.2);
        }
    }

    &:has(.end-icon--container:hover) {
        background: app.alpha(app.$red-600, 0.05);

        .end-icon--container {
            cursor: pointer;

            .icon {
                fill: app.$red-600;
            }
        }
    }
}