@use "../../../App.scss" as app;

.footer-container {
    padding: 4.4444vh 0.8333vw !important;
    border-top: app.$vh-1px solid app.$bg-dark-surface;

    .background-glow {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 35.5555vh;
        height: 35.5555vh;

        filter: blur(11.1111vh);

        border-radius: 50%;
        background-color: app.alpha(app.$orange-500, 0.05);
    }

    .footer-content {
        align-items: center;
        gap: 2.9629vh !important;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: app.$vh-16px;

        .logotype {
            display: flex;
            align-items: center;
            gap: 0.4166vw;

            .icon-container {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 3.7037vh;
                width: 3.7037vh;

                border-radius: app.$vh-12px;
                background: linear-gradient(to bottom right, app.$orange-500, app.$orange-700);
                box-shadow: 0 app.$vh-10px app.$vh-15px calc(-1 * app.$vh-3px) app.alpha(app.$orange-500, 0.2); 

                .icon {
                    width: app.$vh-24px;
                    height: app.$vh-24px;

                    fill: app.$white-color;
                }
            }

            .name {
                font-size: app.$vh-20px;
                font-weight: 600;
                color: app.$white-color;
            }
        }

        .description {
            max-width: 23.3333vw;
            
            font-size: app.$vh-16px;
            font-weight: 600;
            color: app.$gray-500;
        }
    }

    .social-links {
        display: flex;
        gap: 0.625vw;

        .social-link {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 3.7037vh;
            height: 3.7037vh;

            border-radius: app.$vh-12px;
            border: app.$vh-1px solid app.$dark-stroke-surface;
            background: app.$bg-dark-surface;

            transition: all 0.3s ease;

            .icon {
                width: app.$vh-20px;
                height: app.$vh-20px;

                fill: app.$gray-400;
            }

            &:hover {
                border-color: app.alpha(app.$orange-500, 0.5);
                background: app.$dark-stroke-surface;

                transform: scale(1.1) translateY(calc(-1 * app.$vh-2px));
                
                .icon {
                    fill: app.$orange-400;
                }
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }

    .line {
        height: app.$vh-1px;
        width: 66.6666vw;

        background: app.$bg-dark-surface;
    }

    .copyright {
        font-size: app.$vh-14px;
        font-weight: 500;
        color: app.$gray-500;
    }
}